@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

:root {
  --red: #fe4a49;
  --blue: #2ab7ca;
  --yellow: #fed765;
  --grey: #bebebe;
  --orange: #f86625;
  --background: #e6e6ea;
}

body {
  background: var(--background);
  font-family: "Mochiy Pop P One", sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 100px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.levels-container {
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.level-card {
  height: 250px;
  width: 250px;
  background: var(--grey);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.level-card:hover {
  background: var(--red);
}

.level-card p {
  font-size: 3rem;
}
@media only screen and (max-width: 1720px) {
  .levels-container {
    width: 100%;
  }
}
@media only screen and (max-width: 1440px) {
  header h1 {
    font-size: 5em;
  }
  .level-card {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 1080px) {
  header {
    height: 20%;
  }
  header h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 620px) {
  header {
    height: 20%;
  }
  header h1 {
    font-size: 3em;
  }
  .levels-container {
    gap: 20px;
  }
  .level-card {
    width: 150px;
    height: 150px;
  }
  .level-card p {
    font-size: 3em;
  }
}
@media only screen and (max-width: 425px) {
  .level-card {
    width: 40vw;
    height: 40vw;
  }
  .level-card p {
    font-size: 15vw;
  }
}
@media only screen and (max-height: 600px) {
  header {
    height: 150px;
  }
}
