@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

:root {
  --red: #fe4a49;
  --blue: #2ab7ca;
  --yellow: #fed765;
  --grey: #bebebe;
  --orange: #f86625;
  --background: #e6e6ea;
}

body {
  background: var(--background);
  font-family: "Mochiy Pop P One", sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-areas:
    "Problem Option"
    "score Option";
}
.score {
  height: 15vh;
  grid-area: score;
  margin: 0;
  width: 100%;
  background: var(--grey);
}
.problem-container {
  grid-area: Problem;
  background: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
  justify-content: center;
  font-size: 8em;
}

.options-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  grid-area: Option;
}

.options-container .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30vh;
  font-size: 5em;
  color: white;
  border-radius: 24px;
  user-select: none;
  cursor: pointer;
}
.score .main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  gap: 20%;
  height: 100%;
}
.score .main .correct {
  color: rgb(0, 175, 0);
}
.score .main .incorrect {
  color: var(--red);
}
.options-container .option:nth-child(1) {
  background: var(--red);
}

.options-container .option:nth-child(2) {
  background: var(--blue);
}

.options-container .option:nth-child(3) {
  background: var(--yellow);
}
@media only screen and (max-width: 1280px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "Problem Problem"
      "Option Option"
      "score score";
  }
  .problem-container {
    height: 50vh;
    font-size: 6em;
  }
  .score {
    height: 10vh;
  }
  .options-container {
    height: 40vh;
  }
  .options-container {
    flex-direction: row;
    gap: 0;
    justify-content: space-evenly;
  }
  .options-container .option {
    width: 30%;
    font-size: 4em;
  }
}
@media only screen and (max-width: 620px) {
  .problem-container {
    font-size: 4em;
  }
}
@media only screen and (max-width: 400px) {
  .problem-container {
    font-size: 2em;
  }
  .options-container .option {
    font-size: 1.5em;
  }
}
